body {
	font-family: "Source Sans Pro", sans-serif;
	color: #404040;
	margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
	font-weight: 400;
}

.beta-text {
	font-weight: 900;
}

.subheading {
	color: #575757;
	font-weight: 900;
}

/* =================
    Intro
   ================= */

.intro {
	display: flex;
	flex-direction: column;
	min-height: 250px;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: #9480e4;
}

/* ====================
    Main content
   ==================== */

/* 
  Challenge: Style the main content
    - Use flexbox to horizontally center all items inside 
      .main-content. The <p> text should remain left-aligned.
    - Use em to give .main-content a top padding equal to 40px
      and a left and right padding equal to 32px.
    - Set the width of .img-main to 120px and display it as a rounded image.
*/

.main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2.5em 2em 0 2em;
}

.main-content p {
	align-self: start;
}

.img-main {
	width: 120px;
	border-radius: 50%;
}

/* =================
    Form
   ================= */

/* =================
    Media queries 
   ================= */
